		<footer id="footer">
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-sm-6">
							<img src="/img/assets/logo.svg" alt="5th Journey logo" class="logoSVG">
						</div>
						<div class="col-sm-6">
							<h4 class="text-right">
								<a href="{{ relref . "corporate/terms-of-service.md" }}" class="privacy-link">
									{{ with .Site.GetPage "page" "corporate" "terms-of-service.md" }}{{ .Title }}{{ end }}
								</a>
								<a href="{{ relref . "corporate/privacy-policy.md" }}" class="privacy-link">
									{{ with .Site.GetPage "page" "corporate" "privacy-policy.md" }}{{ .Title }}{{ end }}
								</a> © 2017 FIFTH JOURNEY</h4>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="/js/parsley.min.js"></script>
		<script src="/js/selectordie.min.js"></script>
		<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.5.9/slick.min.js"></script>
		<script src="/js/custom.js"></script>
	</body>
</html>