		<footer id="footer">
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-sm-6">
							<img src="/img/assets/logo.svg" alt="5th Journey logo" class="logoSVG">
						</div>
						<div class="col-sm-6">
							<h4 class="text-right"><a href="http://fifth-journey.com/corporate/terms-of-service" class="privacy-link">Terms of Service</a> <a href="http://fifth-journey.com/corporate/privacy-policy" class="privacy-link">Privacy Policy</a> © 2017 FIFTH JOURNEY</h4>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>