		<footer id="footer">
			<div class="container">
				<div class="content">
					<div class="row">
						<div class="col-sm-6">
							<img src="/img/assets/logo.svg" alt="5th Journey logo" class="logoSVG">
						</div>
						<div class="col-sm-6">
							<h4 class="text-right">
								<a href="{{ relref . "corporate/terms-of-service.md" }}" class="privacy-link">
									{{ with .Site.GetPage "page" "corporate" "terms-of-service.md" }}{{ .Title }}{{ end }}
								</a>
								<a href="{{ relref . "corporate/privacy-policy.md" }}" class="privacy-link">
									{{ with .Site.GetPage "page" "corporate" "privacy-policy.md" }}{{ .Title }}{{ end }}
								</a> © 2017 FIFTH JOURNEY</h4>
						</div>
					</div>
				</div>
			</div>
		</footer>
	</body>
</html>