<div class="carousel-container multiple">
	<div class="carousel slick-initialized slick-slider" role="toolbar">
		<div aria-live="polite" class="slick-list draggable" style="padding: 0px 50px;"><div class="slick-track" style="opacity: 1; width: 20000px; left: 280px;" role="listbox"><div class="item multiple slick-slide slick-current slick-center" style="background: url(/img/assets/images/5j_reuters_caro_780.jpg) no-repeat center center/cover;" data-mobile-image="/img/assets/images/Reuters_275.jpg" data-mobile-image-single="/img/assets/images/5J_Reuters_375x366_rev2.jpg" data-slick-index="0" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide00">
			<div class="carousel_img_overlay"></div>
			<div class="carousel_txt">
				<h4 class="date">March 15, 2016</h4>
				<a href="http://fifth-journey.com/news/2016/tinseltown-lures-chinese-consumers-through-mobile-games" tabindex="-1"><h1 class="h1_carousel txt_white">Tinseltown Lures Chinese Consumers Through Mobile Games</h1></a>
				<a href="http://fifth-journey.com/news/2016/tinseltown-lures-chinese-consumers-through-mobile-games" class="back-home txt_white" tabindex="-1">READ MORE</a>
			</div>
		</div><div class="item multiple slick-slide" style="background: url(/img/assets/images/5J_ThreeStudios_022316_780x332_v3.jpg) no-repeat center center/cover;" data-mobile-image="/img/assets/images/5J_ThreeStudios_022316_275x332_160225_140742.jpg" data-mobile-image-single="/img/assets/images/5J_ThreeStudios_022316_375x366.jpg" data-slick-index="1" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide01">
			<div class="carousel_img_overlay"></div>
			<div class="carousel_txt">
				<h4 class="date">February 23, 2016</h4>
				<a href="http://fifth-journey.com/news/2016/hollywood-studios-invest-in-fifth-journey" tabindex="-1"><h1 class="h1_carousel txt_white">Fifth Journey Lands Backing From Universal Pictures, Lionsgate And Metro-Goldwyn-Mayer Studios</h1></a>
				<a href="http://fifth-journey.com/news/2016/hollywood-studios-invest-in-fifth-journey" class="back-home txt_white" tabindex="-1">READ MORE</a>
			</div>
		</div><div class="item multiple slick-slide" style="background: url(/img/assets/images/5J_VB_022316_rev3.jpg) no-repeat center center/cover;" data-mobile-image="/img/assets/images/5J_VB_022316_275x332.jpg" data-slick-index="2" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide02">
			<div class="carousel_img_overlay"></div>
			<div class="carousel_txt">
				<h4 class="date">February 23, 2016</h4>
				<a href="http://fifth-journey.com/news/2016/hollywood-backs-fifth-journey-to-take-movie-licensed-games-to-china" tabindex="-1"><h1 class="h1_carousel txt_white">Hollywood backs Fifth Journey to take movie-licensed games to China</h1></a>
				<a href="http://fifth-journey.com/news/2016/hollywood-backs-fifth-journey-to-take-movie-licensed-games-to-china" class="back-home txt_white" tabindex="-1">READ MORE</a>
			</div>
		</div>
	<div class="item multiple slick-slide" style="background: url(/img/assets/images/LionsgateCarouselDesktop.jpg) no-repeat center center/cover;" data-mobile-image="/img/assets/images/LionsgateCarouselMobile.jpg" data-mobile-image-single="/img/assets/images/LionsgateNewsDetailMobile.jpg" data-slick-index="3" aria-hidden="true" tabindex="-1" role="option" aria-describedby="slick-slide03">
		<div class="carousel_img_overlay"></div>
		<div class="carousel_txt">
			<h4 class="date">July 08, 2015</h4>
				<a href="http://fifth-journey.com/news/2015/fifth-journey-and-lionsgate-partner-on-the-expendables" tabindex="-1"><h1 class="h1_carousel txt_white">Fifth Journey and Lionsgate Partner on The Expendables</h1></a>
				<a href="http://fifth-journey.com/news/2015/fifth-journey-and-lionsgate-partner-on-the-expendables" class="back-home txt_white" tabindex="-1">READ MORE</a>
			</div>
		</div>
	</div>
</div>
		<ul class="slick-dots" style="display: block;" role="tablist"><li class="slick-active" aria-hidden="false" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03"><button type="button" data-role="none" role="button" aria-required="false" tabindex="0">4</button></li></ul></div>
		<div class="carousel-nav prev hidden-xs slick-arrow slick-disabled" aria-disabled="true" style="display: none;"><img src="/img/assets/scroll-left@2x.png" alt="Prev"></div>
		<div class="carousel-nav next slick-arrow" style="display: block;" aria-disabled="false"><img src="/img/assets/scroll-right@2x.png" alt="Next"></div>
		
	</div>

	<div class="main-container">
		

		<div class="clearfix type-titles white-bg">
			<div class="content row">
				<div class="col-xs-12">
					<h2>We build franchises
						<span class="h2_second_line">for the world</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="clearfix type-halfColumnContent white-bg">
			<div class="content row">
				<div class="col-md-6">
					<p><strong>Fifth Journey </strong>develops next-generation Hollywood games and interactive entertainment.</p>

					<p>From feature animations to cult classics and blockbuster franchises,&nbsp;Fifth Journey&nbsp;is pioneering mobile&nbsp;entertainment&nbsp;in partnership with the world’s leading studios. We’re&nbsp;also advancing the latest technologies, including O2O and AR/VR, and delivering these experiences into the fastest growing markets in the world.</p>
					<p><br></p>
				</div>
				<div class="col-md-6">
					<p>Fifth Journey&nbsp;was founded by a team of acclaimed game developers responsible&nbsp;for some of the biggest interactive hits in Hollywood and chart-topping success in China. We're at the leading edge of entertainment, creating new and exciting experiences for fans and helping Hollywood build franchises like never before.<br></p>

					<p>Fifth Journey is headquartered in Hong Kong with creative operations based in San Francisco and studio operations around the world.&nbsp;</p>
					<p><strong>TAKE&nbsp;A&nbsp;JOURNEY&nbsp;WITH&nbsp;US!</strong><br></p>
				</div>
			</div>
		</div>
		<div class="clearfix type-titles grey-bg">
			<div class="content row">
				<div class="col-xs-12">
					<h2>Leadership
						<span class="h2_second_line">team</span>
					</h2>
				</div>
			</div>
		</div>
		<div class="clearfix type-teamMember grey-bg">
			<div class="content row">
				<div class="col-xs-12 team-member">
					<div class="row">
						<div class="col-sm-3">
							<img src="/img/assets/images/eric-tan.png" alt="Eric Tan" class="img-responsive">				</div>
							<div class="col-sm-9">
								<h3 class="team_member_title">Eric Tan</h3>
								<span class="team_member_role">Founder and CEO</span>
								<div class="team_member_descr">
									<p>Eric founded Fifth Journey after 16 years as an executive with Gameloft, Electronic Arts, Universal Pictures and Universal Music. As Managing Director and Head of Gameloft China, Eric led China publishing for major Hollywood franchises including <em>Spiderman</em>, <em>Despicable Me</em>, <em>The Dark Knight</em>, <em>Iron Man</em>, <em>Ice Age</em>, <em>Thor</em>, <em>Captain America </em>and others. Among his 20+ published titles for Hollywood, <em>Despicable Me: Minion Rush </em>remains a top-grosser in China and Gameloft’s best-selling game of all-time.</p>
									<div class="overlay visible-xs"></div>
									<a href="#" class="expand visible-xs">Expand<br><i class="glyphicon glyphicon-chevron-down"></i></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearfix type-teamMember grey-bg">
				<div class="content row">
					<div class="col-xs-12 team-member">
						<div class="row">
							<div class="col-sm-3">
								<img src="/img/assets/images/craig-derrick.png" alt="Craig Derrick" class="img-responsive">				</div>
								<div class="col-sm-9">
									<h3 class="team_member_title">Craig Derrick</h3>
									<span class="team_member_role">Co-Founder and CCO</span>
									<div class="team_member_descr">
										<p>Craig is an award winning, 20-year game industry veteran with a track record for developing some of Hollywood’s biggest hit games including <em>Family Guy: The Quest for Stuff</em>, <em>Pixar’s Finding Nemo</em>, and leadership in the storied <em>Star Wars </em>franchise.&nbsp; He most recently was head of production at TinyCo and previously at LucasArts oversaw the development of titles including <em>Star Wars: 1313</em>, <em>Kinect Star Wars</em>, the remastered <em>Monkey Island: Special Edition</em> and episodic <em>Tales of Monkey Island </em>while establishing&nbsp;an original IP incubator&nbsp;dedicated to next-generation platforms.</p>
										<div class="overlay visible-xs"></div>
										<a href="#" class="expand visible-xs">Expand<br><i class="glyphicon glyphicon-chevron-down"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="clearfix type-teamMember grey-bg">
					<div class="content row">
						<div class="col-xs-12 team-member">
							<div class="row">
								<div class="col-sm-3">
									<img src="/img/assets/images/ian-dominguez.png" alt="Ian Dominguez" class="img-responsive">				</div>
									<div class="col-sm-9">
										<h3 class="team_member_title">Ian Dominguez</h3>
										<span class="team_member_role">Game Design Director</span>
										<div class="team_member_descr">
											<p>

												Ian has 19 years of game and narrative design
												experience working on storied Hollywood and TV franchises. He is a member of
												the Writers Guild of America and a former game designer with LucasArts, Crystal
												Dynamics, Zynga, Konami and Sega. His credits include <em>Star Wars: The Force
												Unleashed 1 &amp; 2</em>,&nbsp;<em>Indiana Jones</em>, <em>The Sopranos</em>, <em>The Punisher</em>,
												<em>Running with Friends</em>, and <em>Words with Friends: Celebrity Challenge </em>– which raised over a million dollars for charity.&nbsp;&nbsp; <br></p>
												<div class="overlay visible-xs"></div>
												<a href="#" class="expand visible-xs">Expand<br><i class="glyphicon glyphicon-chevron-down"></i></a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="clearfix type-teamMember grey-bg">
							<div class="content row">
								<div class="col-xs-12 team-member">
									<div class="row">
										<div class="col-sm-3">
											<img src="/img/assets/images/neal-chung-yee.png" alt="Neal Chung-Yee" class="img-responsive">				</div>
											<div class="col-sm-9">
												<h3 class="team_member_title">Neal Chung-Yee</h3>
												<span class="team_member_role">Senior Producer</span>
												<div class="team_member_descr">
													<p>Neal is Senior Producer at Fifth Journey and responsible for coordination of our product portfolio. Previously a producer with Zynga, Page 44 and 2K Games, he has over 10 years of experience designing AAA console and mobile games. His past credits including <em>Bioshock 2</em>, <em>Borderlands</em>, <em>Civilization Revolution</em>, <em>Disney Princesses</em>, <em>Spec Ops: The Line</em>, <em>Top Spin 3</em> and more.</p>
													<div class="overlay visible-xs"></div>
													<a href="#" class="expand visible-xs">Expand<br><i class="glyphicon glyphicon-chevron-down"></i></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="clearfix type-teamMember grey-bg">
								<div class="content row">
									<div class="col-xs-12 team-member">
										<div class="row">
											<div class="col-sm-3">
												<img src="/img/assets/images/xavier-rosee.png" alt="Xavier Rosee" class="img-responsive">				</div>
												<div class="col-sm-9">
													<h3 class="team_member_title">Xavier Rosee</h3>
													<span class="team_member_role">Head of Marketing</span>
													<div class="team_member_descr">
														<p>Xavier is the Head of Marketing at Fifth Journey. He has over 7 years of experience marketing and promoting AAA Hollywood and independent mobile games with Microsoft, Gameloft and Substantial Games. His past credits include major titles for <em>Thor</em>, <em>Despicable Me</em>, <em>My Little Pony</em>, <em>Captain America</em>, <em>Spiderman</em>, <em>Batman</em> and <em>The Dark Knight</em>.&nbsp;</p>
														<div class="overlay visible-xs"></div>
														<a href="#" class="expand visible-xs">Expand<br><i class="glyphicon glyphicon-chevron-down"></i></a>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="clearfix type-teamMember grey-bg">
									<div class="content row">
										<div class="col-xs-12 team-member">
											<div class="row">
												<div class="col-sm-3">
													<img src="/img/assets/images/rob-lepsoe.png" alt="Rob Lepsøe" class="img-responsive">				</div>
													<div class="col-sm-9">
														<h3 class="team_member_title">Rob Lepsøe</h3>
														<span class="team_member_role">Chief Strategy and Operations Officer</span>
														<div class="team_member_descr">
															<p>Rob is the former Head of Emerging Markets at Deutsche Bank Principal Investments and an investment banker with Morgan Stanley and Salomon Smith Barney. He’s the worst gamer at Fifth Journey, but also a trained code breaker turned diplomat and investor, responsible for leading operations and strategic development of the company.</p>
															<div class="overlay visible-xs"></div>
															<a href="#" class="expand visible-xs">Expand<br><i class="glyphicon glyphicon-chevron-down"></i></a>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="white-bg contact-section">
										<div class="container">
											<div class="content">
												<div class="row no-gutter">
													<div class="col-xs-12">
														<h2>Take a journey
															<span class="h2_second_line">with us</span>
														</h2>
													</div>
													<div class="col-xs-12 col-sm-6">
														<p class="contactlabel">
															Address
														</p>
														<div class="contactInfo">
															<p>8/F Cheung Hing Industrial Building</p>
															<p>12P Smithfield Road</p>
															<p>Kennedy Town<br></p>
															<p>Hong Kong<br></p>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<p class="contactlabel">
															E-mail
														</p>
														<div class="contactInfo">
															<p><a href="mailto:info@fifth-journey.com">info@fifth-journey.com</a></p>
														</div>
													</div>
													<div class="col-xs-12 col-sm-6">
														<p class="contactlabel">
															Social
														</p>
														<div class="contactInfo social">
															<a href="https://www.facebook.com/fifthjourney" target="_blank"><i class="fa fa-facebook"></i></a>
															<a href="" target="_blank"><i class="fa fa-twitter"></i></a>
															<a href="" target="_blank"><i class="fa fa-instagram"></i></a>
														</div>
													</div>
												</div>
												<div class="row">
													<div class="col-xs-12 contactForm">
														<form method="post" id="getintouch" data-parsley-ui-enabled="true" data-parsley-validate="" novalidate="" _lpchecked="1">
															<div class="row">
																<div class="col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
																	<div class="row">
																		<div class="col-xs-12 form-success">
																			Message Sent.
																			<br>
																			<a href="#form" class="toggle-form">Send another?</a>
																		</div>
																	</div>
																	<div class="fields">
																		<div class="row">
																			<div class="form-group col-sm-6">
																				<label for="name">Your Name</label>
																				<input class="form-control" name="name" id="name" data-parsley-required-message="Please enter your name" required="" data-parsley-id="4" type="text">
																			</div>
																			<div class="form-group col-sm-6">
																				<label for="email">Your Email</label>
																				<input class="form-control" name="email" id="email" data-parsley-required-message="Please enter your email" required="" data-parsley-id="6" type="email">
																			</div>
																		</div>
																		<div class="row">
																			<div class="form-group col-md-6">
																				<span class="sod_select" tabindex="0" data-cycle="false" data-links="false" data-links-external="false" data-placeholder-option="false" data-filter=""><span class="sod_label">Please choose a topic</span><span class="sod_list_wrapper"><span class="sod_list"><span class="sod_option  selected active" title="Please choose a topic" data-value="">Please choose a topic</span><span class="sod_option" title="Media" data-value="Media">Media</span><span class="sod_option" title="Careers" data-value="Careers">Careers</span><span class="sod_option" title="Partnerships" data-value="Partnerships">Partnerships</span><span class="sod_option" title="Investment Opportunities" data-value="Investment Opportunities">Investment Opportunities</span><span class="sod_option" title="Other" data-value="Other">Other</span></span></span><select class="form-control" name="topic" id="topic" data-parsley-required-message="Please select a topic" required="" data-parsley-id="8">
																					<option value="">Please choose a topic</option>
																					<option value="Media">Media</option>
																					<option value="Careers">Careers</option>
																					<option value="Partnerships">Partnerships</option>
																					<option value="Investment Opportunities">Investment Opportunities</option>
																					<option value="Other">Other</option>
																				</select></span>
																			</div>
																		</div>
																		<div class="row">
																			<div class="form-group col-xs-12">
																				<label for="message">Your message</label>
																				<textarea required="" class="form-control" name="message" id="message" data-parsley-id="10"></textarea>
																			</div>
																		</div>
																		<input name="s_catch" type="hidden">
																		<button type="submit" class="submit btn btn-default formbutton">Send Message</button>
																	</div>
																</div>
															</div>
														</form>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>